h1 {
    color: grey;
}

img {
    width: 250px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('/img/bg-tentang.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    }
.main-content {
    flex-grow: 1;
    }

footer {
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F0FFFF; 
    color: #000000; 
    padding: 10px;
}

header {
    background-color: #F0FFFF;
    color: #fff; 
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 3; 
}

header a {
    color: #000000; 
    text-decoration: none; 
    margin: 0 15px; 
    font-weight: bold; 
    font-size: 16px; 
    transition: color 0.5s; 
}

header a:hover {
    color: #ffcc00;
}

.tentang-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.tentang-foto {
    flex: 0 0 30%; 
    margin-right: 20px;
}

.tentang-keterangan {
    flex: 0 0 65%;
}

.tentang-foto img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

h5 {
    font-size: 20px;
    margin-bottom: 16px;
    color: #333;
    }
.portrait {
    width: 250px;
    }
input{
    border: 2px solid #cccccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 0px solid #cccccc;
    background: #888888;
    color: white;
    padding: 9px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    color: #333;
}

p {
    margin-bottom: 16px;
    color: #333;
}